.row
  .col-xs-6
    %h3 Lamps
    Polling interval
    %select.lamp-polling-interval
      %option{value: "0"}Stopped
      %option{value: "500"}500ms
      %option{value: "1000", selected: :selected}1000ms
      %option{value: "5000"}5000ms
    %br
    %br

    %table.lamps{style: "border: 1px solid"}
      %tr
        %td
          %a.reload_lamps.btn.btn-primary.btn-sm{href:'#'}Reload
        -(0..7).each do |col|
          %td.heading Col #{col}
    
      -(0..7).each do |row|
        %tr{class: "row_#{row}"}
          %td.heading Row #{row}
          -(0..7).each do |col|
            %td.lamp{class: "col_#{col} r#{row}c#{col}"}
              %span.display
                = "#{row}:#{col}"
              .lamp_details{style: "display: none"}
                - lamp = Lamp.find_by_location(col, row)
                - %w{name row col xpos ypos state value}.each do |x|
                  #{x}: #{lamp.send(x)}
                  %br
  .col-xs-6
    %h3
      Switches
    Polling interval
    %select.switch-polling-interval
      %option{value: "0"}Stopped
      %option{value: "25"}25ms
      %option{value: "100"}100ms
      %option{value: "500"}500ms
      %option{value: "1000", selected: :selected}1000ms
      %option{value: "5000"}5000ms
    %br
    %br
    %table.switches{style: "border: 1px solid"}
      %tr
        %td
          %a.reload_switches.btn.btn-primary.btn-sm{href:'#'}Reload
        -(0..7).each do |col|
          %td.heading Col #{col}
      -(0..7).each do |row|
        %tr{class: "row_#{row}"}
          %td.heading Row #{row}
          -(0..7).each do |col|
            %td.switch{class: "col_#{col} r#{row}c#{col}"}
              %span.display
                = "#{row}:#{col}"
              .switch_details{style: "display: none"}
                - switch = Switch.find_by_location(col, row)
                Name: #{switch.name}
                %br
                Row: #{row}
                %br
                Col: #{col}