.row
  %h3 Lamps
  %table.lamps{style: "width:100%; border: 1px solid"}
    -(0..7).each do |row|
      %tr{class: "row_#{row}"}
        -(0..7).each do |column|
          %td{class: "col_#{column}"}
            = "#{row}:#{column}"


.row
  %h3 Switches
  %table.switches{style: "width:100%; border: 1px solid"}
    -(0..7).each do |row|
      %tr{class: "row_#{row}"}
        -(0..7).each do |column|
          %td{class: "col_#{column}"}
            = "#{row}:#{column}"